/*
 Theme Name:   Sandvik Coromant
 Theme URI:    http://www.flipflopinteractive.com
 Description:  Custom build theme for the style guide manual of company Sandvik Coromant. The custom theme is based on the Twenty Fifteen theme.
 Author:       Koen Dirk van Esterik & Klokie Grossfeld
 Author URI:   http://www.flipflopinteractive.com
 Template:     twentyfourteen
 Version:      1.0.0
 Tags: 	       black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
 Text Domain:  sandvik-coromant
*/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
  visibility: hidden;
}
.collapse.in {
  display: block;
  visibility: visible;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
     transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
     transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
     transition-timing-function: ease;
}
@font-face {
  font-family: 'AktivGrotesk-Light';
  src: url('fonts/aktivgrotesk-light.eot');
  src: url('fonts/aktivgrotesk-light.eot?#iefix') format('embedded-opentype'), url('fonts/aktivgrotesk-light.svg#NeueHaasGroteskBold') format('svg'), url('fonts/aktivgrotesk-light.woff') format('woff'), url('fonts/aktivgrotesk-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AktivGrotesk-Medium';
  src: url('fonts/aktivgrotesk-medium.eot');
  src: url('fonts/aktivgrotesk-medium.eot?#iefix') format('embedded-opentype'), url('fonts/aktivgrotesk-medium.svg#NeueHaasGroteskBold') format('svg'), url('fonts/aktivgrotesk-medium.woff') format('woff'), url('fonts/aktivgrotesk-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  src: url("fonts/icons-ad6d03487c3c2a9e3109ddcbba554b50.eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  src: url("fonts/icons-ad6d03487c3c2a9e3109ddcbba554b50.eot");
  src: url("fonts/icons-ad6d03487c3c2a9e3109ddcbba554b50.eot?#iefix") format("embedded-opentype"), url("fonts/icons-ad6d03487c3c2a9e3109ddcbba554b50.woff") format("woff"), url("fonts/icons-ad6d03487c3c2a9e3109ddcbba554b50.ttf") format("truetype"), url("fonts/icons-ad6d03487c3c2a9e3109ddcbba554b50.svg?#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: "icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon_arrow-bottom-icon:before {
  content: "\f101";
}
.icon_arrow-left-icon:before {
  content: "\f102";
}
.icon_arrow-right-icon:before {
  content: "\f103";
}
.icon_arrow-top-icon:before {
  content: "\f104";
}
.icon_close-icon:before {
  content: "\f105";
}
.icon_download-icon:before {
  content: "\f106";
}
.icon_info-icon:before {
  content: "\f107";
}
.icon_menu-icon:before {
  content: "\f108";
}
.icon_sandvik-coromant-icon:before {
  content: "\f109";
}
.icon_search-icon:before {
  content: "\f10a";
}
.icon_zoom-icon:before {
  content: "\f10b";
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'AktivGrotesk-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.45;
  color: #0b0b0b;
  background-color: #fafafa;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #0b0b0b;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #fff200;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.45;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 29px;
  margin-bottom: 29px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'AktivGrotesk-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 29px;
  margin-bottom: 14.5px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 14.5px;
  margin-bottom: 14.5px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 48px;
}
h2,
.h2 {
  font-size: 43px;
}
h3,
.h3 {
  font-size: 34px;
}
h4,
.h4 {
  font-size: 25px;
}
h5,
.h5 {
  font-size: 20px;
}
h6,
.h6 {
  font-size: 17px;
}
p {
  margin: 0 0 14.5px;
}
.lead {
  margin-bottom: 29px;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 30px;
  }
}
small,
.small {
  font-size: 85%;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #fff200;
}
a.text-primary:hover {
  color: #ccc200;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #fff200;
}
a.bg-primary:hover {
  background-color: #ccc200;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 13.5px;
  margin: 58px 0 29px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 14.5px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 29px;
}
dt,
dd {
  line-height: 1.45;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 14.5px 29px;
  margin: 0 0 29px;
  font-size: 25px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.45;
  color: #777777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
address {
  margin-bottom: 29px;
  font-style: normal;
  line-height: 1.45;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10 {
  float: left;
}
.col-xs-10 {
  width: 100%;
}
.col-xs-9 {
  width: 90%;
}
.col-xs-8 {
  width: 80%;
}
.col-xs-7 {
  width: 70%;
}
.col-xs-6 {
  width: 60%;
}
.col-xs-5 {
  width: 50%;
}
.col-xs-4 {
  width: 40%;
}
.col-xs-3 {
  width: 30%;
}
.col-xs-2 {
  width: 20%;
}
.col-xs-1 {
  width: 10%;
}
.col-xs-pull-10 {
  right: 100%;
}
.col-xs-pull-9 {
  right: 90%;
}
.col-xs-pull-8 {
  right: 80%;
}
.col-xs-pull-7 {
  right: 70%;
}
.col-xs-pull-6 {
  right: 60%;
}
.col-xs-pull-5 {
  right: 50%;
}
.col-xs-pull-4 {
  right: 40%;
}
.col-xs-pull-3 {
  right: 30%;
}
.col-xs-pull-2 {
  right: 20%;
}
.col-xs-pull-1 {
  right: 10%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-10 {
  left: 100%;
}
.col-xs-push-9 {
  left: 90%;
}
.col-xs-push-8 {
  left: 80%;
}
.col-xs-push-7 {
  left: 70%;
}
.col-xs-push-6 {
  left: 60%;
}
.col-xs-push-5 {
  left: 50%;
}
.col-xs-push-4 {
  left: 40%;
}
.col-xs-push-3 {
  left: 30%;
}
.col-xs-push-2 {
  left: 20%;
}
.col-xs-push-1 {
  left: 10%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-10 {
  margin-left: 100%;
}
.col-xs-offset-9 {
  margin-left: 90%;
}
.col-xs-offset-8 {
  margin-left: 80%;
}
.col-xs-offset-7 {
  margin-left: 70%;
}
.col-xs-offset-6 {
  margin-left: 60%;
}
.col-xs-offset-5 {
  margin-left: 50%;
}
.col-xs-offset-4 {
  margin-left: 40%;
}
.col-xs-offset-3 {
  margin-left: 30%;
}
.col-xs-offset-2 {
  margin-left: 20%;
}
.col-xs-offset-1 {
  margin-left: 10%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10 {
    float: left;
  }
  .col-sm-10 {
    width: 100%;
  }
  .col-sm-9 {
    width: 90%;
  }
  .col-sm-8 {
    width: 80%;
  }
  .col-sm-7 {
    width: 70%;
  }
  .col-sm-6 {
    width: 60%;
  }
  .col-sm-5 {
    width: 50%;
  }
  .col-sm-4 {
    width: 40%;
  }
  .col-sm-3 {
    width: 30%;
  }
  .col-sm-2 {
    width: 20%;
  }
  .col-sm-1 {
    width: 10%;
  }
  .col-sm-pull-10 {
    right: 100%;
  }
  .col-sm-pull-9 {
    right: 90%;
  }
  .col-sm-pull-8 {
    right: 80%;
  }
  .col-sm-pull-7 {
    right: 70%;
  }
  .col-sm-pull-6 {
    right: 60%;
  }
  .col-sm-pull-5 {
    right: 50%;
  }
  .col-sm-pull-4 {
    right: 40%;
  }
  .col-sm-pull-3 {
    right: 30%;
  }
  .col-sm-pull-2 {
    right: 20%;
  }
  .col-sm-pull-1 {
    right: 10%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-10 {
    left: 100%;
  }
  .col-sm-push-9 {
    left: 90%;
  }
  .col-sm-push-8 {
    left: 80%;
  }
  .col-sm-push-7 {
    left: 70%;
  }
  .col-sm-push-6 {
    left: 60%;
  }
  .col-sm-push-5 {
    left: 50%;
  }
  .col-sm-push-4 {
    left: 40%;
  }
  .col-sm-push-3 {
    left: 30%;
  }
  .col-sm-push-2 {
    left: 20%;
  }
  .col-sm-push-1 {
    left: 10%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-10 {
    margin-left: 100%;
  }
  .col-sm-offset-9 {
    margin-left: 90%;
  }
  .col-sm-offset-8 {
    margin-left: 80%;
  }
  .col-sm-offset-7 {
    margin-left: 70%;
  }
  .col-sm-offset-6 {
    margin-left: 60%;
  }
  .col-sm-offset-5 {
    margin-left: 50%;
  }
  .col-sm-offset-4 {
    margin-left: 40%;
  }
  .col-sm-offset-3 {
    margin-left: 30%;
  }
  .col-sm-offset-2 {
    margin-left: 20%;
  }
  .col-sm-offset-1 {
    margin-left: 10%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10 {
    float: left;
  }
  .col-md-10 {
    width: 100%;
  }
  .col-md-9 {
    width: 90%;
  }
  .col-md-8 {
    width: 80%;
  }
  .col-md-7 {
    width: 70%;
  }
  .col-md-6 {
    width: 60%;
  }
  .col-md-5 {
    width: 50%;
  }
  .col-md-4 {
    width: 40%;
  }
  .col-md-3 {
    width: 30%;
  }
  .col-md-2 {
    width: 20%;
  }
  .col-md-1 {
    width: 10%;
  }
  .col-md-pull-10 {
    right: 100%;
  }
  .col-md-pull-9 {
    right: 90%;
  }
  .col-md-pull-8 {
    right: 80%;
  }
  .col-md-pull-7 {
    right: 70%;
  }
  .col-md-pull-6 {
    right: 60%;
  }
  .col-md-pull-5 {
    right: 50%;
  }
  .col-md-pull-4 {
    right: 40%;
  }
  .col-md-pull-3 {
    right: 30%;
  }
  .col-md-pull-2 {
    right: 20%;
  }
  .col-md-pull-1 {
    right: 10%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-10 {
    left: 100%;
  }
  .col-md-push-9 {
    left: 90%;
  }
  .col-md-push-8 {
    left: 80%;
  }
  .col-md-push-7 {
    left: 70%;
  }
  .col-md-push-6 {
    left: 60%;
  }
  .col-md-push-5 {
    left: 50%;
  }
  .col-md-push-4 {
    left: 40%;
  }
  .col-md-push-3 {
    left: 30%;
  }
  .col-md-push-2 {
    left: 20%;
  }
  .col-md-push-1 {
    left: 10%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-10 {
    margin-left: 100%;
  }
  .col-md-offset-9 {
    margin-left: 90%;
  }
  .col-md-offset-8 {
    margin-left: 80%;
  }
  .col-md-offset-7 {
    margin-left: 70%;
  }
  .col-md-offset-6 {
    margin-left: 60%;
  }
  .col-md-offset-5 {
    margin-left: 50%;
  }
  .col-md-offset-4 {
    margin-left: 40%;
  }
  .col-md-offset-3 {
    margin-left: 30%;
  }
  .col-md-offset-2 {
    margin-left: 20%;
  }
  .col-md-offset-1 {
    margin-left: 10%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10 {
    float: left;
  }
  .col-lg-10 {
    width: 100%;
  }
  .col-lg-9 {
    width: 90%;
  }
  .col-lg-8 {
    width: 80%;
  }
  .col-lg-7 {
    width: 70%;
  }
  .col-lg-6 {
    width: 60%;
  }
  .col-lg-5 {
    width: 50%;
  }
  .col-lg-4 {
    width: 40%;
  }
  .col-lg-3 {
    width: 30%;
  }
  .col-lg-2 {
    width: 20%;
  }
  .col-lg-1 {
    width: 10%;
  }
  .col-lg-pull-10 {
    right: 100%;
  }
  .col-lg-pull-9 {
    right: 90%;
  }
  .col-lg-pull-8 {
    right: 80%;
  }
  .col-lg-pull-7 {
    right: 70%;
  }
  .col-lg-pull-6 {
    right: 60%;
  }
  .col-lg-pull-5 {
    right: 50%;
  }
  .col-lg-pull-4 {
    right: 40%;
  }
  .col-lg-pull-3 {
    right: 30%;
  }
  .col-lg-pull-2 {
    right: 20%;
  }
  .col-lg-pull-1 {
    right: 10%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-10 {
    left: 100%;
  }
  .col-lg-push-9 {
    left: 90%;
  }
  .col-lg-push-8 {
    left: 80%;
  }
  .col-lg-push-7 {
    left: 70%;
  }
  .col-lg-push-6 {
    left: 60%;
  }
  .col-lg-push-5 {
    left: 50%;
  }
  .col-lg-push-4 {
    left: 40%;
  }
  .col-lg-push-3 {
    left: 30%;
  }
  .col-lg-push-2 {
    left: 20%;
  }
  .col-lg-push-1 {
    left: 10%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-10 {
    margin-left: 100%;
  }
  .col-lg-offset-9 {
    margin-left: 90%;
  }
  .col-lg-offset-8 {
    margin-left: 80%;
  }
  .col-lg-offset-7 {
    margin-left: 70%;
  }
  .col-lg-offset-6 {
    margin-left: 60%;
  }
  .col-lg-offset-5 {
    margin-left: 50%;
  }
  .col-lg-offset-4 {
    margin-left: 40%;
  }
  .col-lg-offset-3 {
    margin-left: 30%;
  }
  .col-lg-offset-2 {
    margin-left: 20%;
  }
  .col-lg-offset-1 {
    margin-left: 10%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
::-moz-selection {
  color: #0b0b0b;
  background: #fff200;
}
::selection {
  color: #0b0b0b;
  background: #fff200;
}
html {
  -webkit-font-smoothing: antialiased;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  html {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
body:before {
  width: auto;
}
body.modal-open {
  padding-right: 0px !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 18px;
    line-height: 1.333;
  }
}
@media (max-width: 991px) {
  body {
    font-size: 16px;
    line-height: 1.4375;
  }
}
a {
  padding-top: 2px;
}
hr {
  margin-top: 0;
  margin-bottom: 0;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0b0b0b;
}
@media (min-width: 992px) and (max-width: 1199px) {
  hr {
    border-top-width: 1px;
  }
}
@media (max-width: 991px) {
  hr {
    border-top-width: 1px;
  }
}
video {
  max-width: none;
}
.site {
  max-width: none;
  background-color: transparent;
}
.site:before {
  background-color: transparent;
  content: "";
  display: block;
  width: auto;
  height: auto;
  min-height: 0;
  position: static;
  top: auto;
  left: auto;
  z-index: auto;
}
.site .site-content .content-area {
  margin: 145px 0 0;
  padding: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .site .site-content .content-area {
    margin: 120px 0 0;
  }
}
@media (max-width: 991px) {
  .site .site-content .content-area {
    margin: 95px 0 0;
  }
}
.site .site-content .content-area .site-main {
  margin: 0;
  padding: 0;
}
/**
* debugging
*/
.xdebug-error,
.xe-notice {
  position: absolute;
  top: 0;
  z-index: 10000;
}
p {
  margin: 0 0 29px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  p {
    margin: 0 0 23px;
  }
}
@media (max-width: 991px) {
  p {
    margin: 0 0 23px;
  }
}
strong {
  font-family: 'AktivGrotesk-Medium', 'AktivGrotesk-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
/*
prevent all hyphens and word breaking
*/
.entry-content,
.entry-summary,
.page-content,
.comment-content,
.nav-links,
.page-content,
.widget,
pre,
q {
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  word-wrap: normal;
}
@media (min-width: 1500px) {
  .container {
    width: 1490px;
  }
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #333333;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.95;
  filter: alpha(opacity=95);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.45px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.45;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: auto;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: auto;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: auto;
  }
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.fluidbox {
  outline: none;
}
.hidden {
  display: none;
}
.fluidbox-overlay {
  background-color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.25s ease-in-out;
       -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}
.fluidbox-wrap {
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
       -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}
.fluidbox-ghost {
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-position: center center;
  position: absolute;
  -webkit-transition: all 0.25s ease-in-out;
       -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}
.fluidbox-closed .fluidbox-ghost {
  -webkit-transition-property: top, left, opacity, -webkit-transform;
  -o-transition-property: top, left, opacity, -o-transform;
  transition-property: top, left, opacity, transform;
  -webkit-transition-delay: 0, 0, .25s, 0;
       -o-transition-delay: 0, 0, .25s, 0;
          transition-delay: 0, 0, .25s, 0;
}
.fluidbox-closed .fluidbox-wrap img {
  -webkit-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
  -webkit-transition-delay: .25s;
       -o-transition-delay: .25s;
          transition-delay: .25s;
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
.fluidbox-opened .stroke + .fluidbox-ghost {
  -webkit-box-shadow: 0px 0px 1px 0px #000000;
          box-shadow: 0px 0px 1px 0px #000000;
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;
  background-color: transparent;
  z-index: 999;
}
.site-header.headroom {
  -webkit-transition-property: -webkit-transform;
       -o-transition-property: -o-transform;
          transition-property: transform;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}
.site-header.headroom--pinned {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
}
.site-header.headroom--unpinned {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
}
.site-header .container {
  background-color: #fafafa;
}
.site-header .container .row a {
  outline: none;
}
.site-header .container .row a .icon {
  margin-top: 96px;
  font-size: 28px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .site-header .container .row a .icon {
    margin-top: 76px;
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .site-header .container .row a .icon {
    margin-top: 60px;
    font-size: 20px;
  }
}
.site-header .container .row a:focus .icon {
  color: #0b0b0b;
}
.site-header .container .row a .logo {
  display: inline-block;
  padding: 69px 18px 21px;
  background-color: #fff200;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .site-header .container .row a .logo {
    padding: 58px 15px 17px;
  }
}
@media (max-width: 991px) {
  .site-header .container .row a .logo {
    padding: 42px 12px 14px;
  }
}
.site-header .container .row a .logo .icon {
  color: #e01021;
  font-size: 33px;
  margin-top: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .site-header .container .row a .logo .icon {
    font-size: 26px;
  }
}
@media (max-width: 991px) {
  .site-header .container .row a .logo .icon {
    font-size: 20px;
  }
}
.site-header .container .row a:focus .logo .icon {
  color: #e01021;
}
.site-header .container hr {
  margin-top: 25px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .site-header .container hr {
    margin-top: 20px;
  }
}
@media (max-width: 991px) {
  .site-header .container hr {
    margin-top: 15px;
  }
}
#secondary {
  display: none;
}
.site-content {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: auto;
}
.post-media {
  float: none;
  font-size: 0;
  letter-spacing: 0px;
  word-spacing: 0px;
  padding: 0;
}
.post-image {
  /*  float: none;
  display: inline-block;
*/
  vertical-align: top;
  text-align: left
  /*  padding: 0 10px 20px 0;
  box-sizing: content-box;
*/
}
/*.post-image.small {
  width: 25%;
}
.post-image.medium {
  width: 50%;
}
.post-image.large {
  width: 100%;
}
.post-image.right {
  padding-right: 0;
}
*/
.image-caption {
  font-size: 15px;
}
.image-caption p {
  margin: 0;
}
.clearfix,
.dl-horizontal dd,
.container,
.container-fluid,
.row,
.modal-footer {
  clear: left;
}
.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
  border-top: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 999;
}
.site-footer.headroom {
  -webkit-transition-property: -webkit-transform;
       -o-transition-property: -o-transform;
          transition-property: transform;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}
.site-footer.headroom--pinned {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}
.site-footer.headroom--unpinned {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
}
.site-footer .container {
  padding-bottom: 20px;
  background-color: #fafafa;
}
@media (max-width: 991px) {
  .site-footer .container {
    padding-bottom: 15px;
  }
}
.site-footer .container hr {
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .site-footer .container hr {
    margin-bottom: 15px;
  }
}
.site-footer .container .row a {
  outline: none;
}
.site-footer .container .row a .icon {
  font-size: 28px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .site-footer .container .row a .icon {
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .site-footer .container .row a .icon {
    font-size: 20px;
  }
}
.site-footer .container .row a .label {
  position: relative;
  top: 4px;
  left: 5px;
  font-size: 20px;
  cursor: pointer;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .site-footer .container .row a .label {
    top: 4px;
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .site-footer .container .row a .label {
    display: none;
  }
}
.site-footer .container .row a:focus .icon,
.site-footer .container .row a:focus .label {
  color: #0b0b0b;
}
.hentry {
  margin: -145px 0;
  padding: 145px 0 0;
  border-top: none;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hentry {
    margin: -117px 0;
    padding: 117px 0 0;
  }
}
@media (max-width: 991px) {
  .hentry {
    margin: -90px 0;
    padding: 90px 0 0;
  }
}
.hentry .entry-header {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none;
  background-color: transparent;
}
.hentry .entry-header .container {
  padding-top: 24px;
  padding-bottom: 11px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hentry .entry-header .container {
    padding-top: 17px;
    padding-bottom: 8px;
  }
}
@media (max-width: 991px) {
  .hentry .entry-header .container {
    padding-top: 13px;
    padding-bottom: 4px;
  }
}
.hentry .entry-header .container .row .entry-title {
  font-size: 48px;
  font-weight: normal;
  line-height: 1.1;
  margin-top: 0;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: inherit;
  color: #0b0b0b;
  text-transform: none;
  word-wrap: normal;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hentry .entry-header .container .row .entry-title {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .hentry .entry-header .container .row .entry-title {
    font-size: 37px;
  }
}
.hentry .entry-content {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hentry .entry-content {
    display: block !important;
  }
}
@media (max-width: 991px) {
  .hentry .entry-content {
    display: block !important;
  }
}
.hentry .entry-content .container {
  margin-bottom: 100px;
}
.hentry .entry-content .container hr {
  margin-bottom: 22px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hentry .entry-content .container hr {
    margin-bottom: 17px;
  }
}
@media (max-width: 991px) {
  .hentry .entry-content .container hr {
    margin-bottom: 13px;
  }
}
.hentry .entry-content .container .row p + ul {
  margin-top: -29px;
}
.hentry .entry-content .container .row a {
  text-decoration: underline;
}
.hentry .entry-content .container .row a img {
  margin-bottom: 20px;
}
.hentry .entry-content .container .row a img.last {
  margin-bottom: 39px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hentry .entry-content .container .row a img.last {
    margin-bottom: 31px;
  }
}
@media (max-width: 991px) {
  .hentry .entry-content .container .row a img.last {
    margin-bottom: 31px;
  }
}
.hentry .entry-content .container .row .entry-title {
  font-size: 48px;
  font-weight: normal;
  line-height: 1.1;
  margin-top: 0;
  margin-right: inherit;
  margin-bottom: 46px;
  margin-left: inherit;
  color: #b9b9b9;
  text-transform: none;
  word-wrap: normal;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hentry .entry-content .container .row .entry-title {
    margin-bottom: 6px;
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .hentry .entry-content .container .row .entry-title {
    margin-bottom: 6px;
    font-size: 37px;
  }
}
.hentry .entry-content .container .row .entry-caption {
  margin-top: -9px;
}
.hentry .entry-content .container .row .entry-action {
  margin-top: -1px;
  display: inline-block;
  margin-right: 10px;
}
.hentry .entry-content .container .row .entry-action a {
  text-decoration: none;
  outline: none;
}
.hentry .entry-content .container .row .entry-action a .icon {
  font-size: 28px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hentry .entry-content .container .row .entry-action a .icon {
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .hentry .entry-content .container .row .entry-action a .icon {
    font-size: 20px;
  }
}
.hentry .entry-content .container .row .entry-action a .label {
  position: relative;
  top: 1px;
  left: 5px;
  font-size: 20px;
  cursor: pointer;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hentry .entry-content .container .row .entry-action a .label {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .hentry .entry-content .container .row .entry-action a .label {
    font-size: 16px;
  }
}
.hentry .entry-content .container .row .entry-action a:focus .icon,
.hentry .entry-content .container .row .entry-action a:focus .label {
  color: #0b0b0b;
}
.hentry .entry-content .container .row .stroke {
  border-width: 1px;
  border-style: solid;
  border-color: #0b0b0b;
}
.hentry.chapter .entry-content .container .row .entry-title {
  color: #0b0b0b;
}
.hentry.paragraph .entry-content .container {
  padding-top: 0;
  border-top: none;
}
.hentry + .hentry {
  margin-top: 0;
}
.list-view .site-content .hentry {
  border-top: none;
  padding-top: 0;
}
#menu {
  padding-right: 0 !important;
  color: #fff200;
}
#menu .modal-dialog {
  margin: 0;
}
#menu .modal-dialog .container {
  margin-bottom: 55px;
}
#menu .modal-dialog .container hr {
  margin-top: 25px;
  margin-bottom: 22px;
  border-top-color: #fff200;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #menu .modal-dialog .container hr {
    margin-top: 20px;
    margin-bottom: 18px;
  }
}
@media (max-width: 991px) {
  #menu .modal-dialog .container hr {
    margin-top: 15px;
    margin-bottom: 13px;
  }
}
#menu .modal-dialog .container .row a .icon {
  color: #fff200;
  margin-top: 96px;
  font-size: 28px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #menu .modal-dialog .container .row a .icon {
    margin-top: 76px;
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  #menu .modal-dialog .container .row a .icon {
    margin-top: 60px;
    font-size: 20px;
  }
}
#menu .modal-dialog .container .row a:hover .icon {
  color: #b9b9b9;
}
#menu .modal-dialog .container .row a:focus .icon {
  color: #fff200;
}
#menu .modal-dialog .container .row a .logo {
  display: inline-block;
  padding: 69px 18px 21px;
  background-color: #fff200;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #menu .modal-dialog .container .row a .logo {
    padding: 58px 15px 17px;
  }
}
@media (max-width: 991px) {
  #menu .modal-dialog .container .row a .logo {
    padding: 42px 12px 14px;
  }
}
#menu .modal-dialog .container .row a .logo .icon {
  color: #e01021;
  font-size: 33px;
  margin-top: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #menu .modal-dialog .container .row a .logo .icon {
    font-size: 26px;
  }
}
@media (max-width: 991px) {
  #menu .modal-dialog .container .row a .logo .icon {
    font-size: 20px;
  }
}
#menu .modal-dialog .menu-header {
  margin-bottom: 0;
}
#menu .modal-dialog .menu-items .menu-item-top {
  margin: 0;
  font-size: 48px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #menu .modal-dialog .menu-items .menu-item-top {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  #menu .modal-dialog .menu-items .menu-item-top {
    font-size: 37px;
  }
}
#menu .modal-dialog .menu-items .menu-item-top .menu-item,
#menu .modal-dialog .menu-items .menu-item-list .menu-item {
  color: #fff200;
}
#menu .modal-dialog .menu-items .menu-item-top .menu-item:hover,
#menu .modal-dialog .menu-items .menu-item-list .menu-item:hover {
  color: #b9b9b9;
}
#menu .modal-dialog .menu-items .menu-item-top .menu-item:focus,
#menu .modal-dialog .menu-items .menu-item-list .menu-item:focus {
  color: #fff200;
}
#menu .modal-dialog .menu-items .menu-item-list {
  margin: 0 0 45px 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #menu .modal-dialog .menu-items .menu-item-list {
    margin-bottom: 26px;
  }
}
@media (max-width: 991px) {
  #menu .modal-dialog .menu-items .menu-item-list {
    margin-bottom: 6px;
  }
}
.search .container .row h1 {
  margin: 24px 0 11px;
  color: #b9b9b9;
  text-transform: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .search .container .row h1 {
    margin: 17px 0 8px;
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .search .container .row h1 {
    margin: 13px 0 4px;
    font-size: 37px;
  }
}
.search .container .row .search-form {
  padding: 24px 0 11px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .search .container .row .search-form {
    padding: 17px 0 8px;
  }
}
@media (max-width: 991px) {
  .search .container .row .search-form {
    padding: 13px 0 4px;
  }
}
.search .container .row .search-form .search-field {
  padding: 0;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.1;
  background-color: transparent;
  border: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .search .container .row .search-form .search-field {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .search .container .row .search-form .search-field {
    font-size: 37px;
  }
}
.search .container .row .search-form .search-field::-webkit-search-cancel-button {
  -webkit-appearance: none;
  font-family: "icons";
  font-size: 28px;
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 212px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .search .container .row .search-form .search-field::-webkit-search-cancel-button {
    width: 172px;
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .search .container .row .search-form .search-field::-webkit-search-cancel-button {
    width: 16%;
    font-size: 20px;
  }
}
.search .container .row .search-form .search-field::-webkit-search-cancel-button:before {
  content: "\f105";
}
.search .container .row .search-form .search-field:focus {
  appearance: none;
  outline: 0;
}
.search .hentry {
  margin: 0;
  padding: 0;
}
/**
* search autocomplete
*/
.ui-autocomplete {
  top: 220px !important;
  height: 100%;
  padding: 0;
  border: 0;
  background-image: none !important;
  background-color: #fafafa !important;
  z-index: 990;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ui-autocomplete {
    top: 186px !important;
  }
}
@media (max-width: 991px) {
  .ui-autocomplete {
    top: 150px !important;
  }
}
.ui-autocomplete .ui-menu-item {
  padding: 0;
  color: #b9b9b9;
  font-family: 'AktivGrotesk-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.2;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ui-autocomplete .ui-menu-item {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .ui-autocomplete .ui-menu-item {
    font-size: 37px;
  }
}
.ui-state-focus {
  color: #fff200 !important;
  background: none !important;
  border-color: transparent !important;
  outline: none !important;
}
/* TODO - Remove all elements related to Home-Page templaate */
.home,
.login {
  background-color: transparent;
}
.home .modal-backdrop,
.login .modal-backdrop {
  opacity: 0;
}
.home .modal-dialog .container .row h1,
.login .modal-dialog .container .row h1 {
  text-align: left;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .home .modal-dialog .container .row h1,
  .login .modal-dialog .container .row h1 {
    margin-bottom: 17px;
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .home .modal-dialog .container .row h1,
  .login .modal-dialog .container .row h1 {
    margin-bottom: 12px;
    font-size: 37px;
  }
}
.home .modal-dialog .container .row h1 a,
.login .modal-dialog .container .row h1 a {
  display: inline-block;
  margin: 0;
  width: auto;
  height: auto;
  background: none;
  color: #fff200;
  font-size: 48px;
  line-height: 1.1;
  text-indent: 0;
  overflow: inherit;
}
.home .modal-dialog .container .row h1 a:hover,
.login .modal-dialog .container .row h1 a:hover {
  color: #b9b9b9;
}
.home .modal-dialog .container .row h1 a:focus,
.login .modal-dialog .container .row h1 a:focus {
  color: #fff200;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .home .modal-dialog .container .row h1 a,
  .login .modal-dialog .container .row h1 a {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .home .modal-dialog .container .row h1 a,
  .login .modal-dialog .container .row h1 a {
    font-size: 37px;
  }
}
.home .modal-dialog #login,
.login .modal-dialog #login {
  width: auto;
  margin: 120px 0 0;
  padding: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .home .modal-dialog #login,
  .login .modal-dialog #login {
    margin-top: 80px;
  }
}
@media (max-width: 991px) {
  .home .modal-dialog #login,
  .login .modal-dialog #login {
    margin-top: 60px;
  }
}
.home .modal-dialog #login #call_to_action,
.login .modal-dialog #login #call_to_action {
  cursor: pointer;
}
.home .modal-dialog #login #loginform,
.login .modal-dialog #login #loginform {
  margin: 0;
  padding: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.home .modal-dialog #login #loginform #password_protected_pass,
.login .modal-dialog #login #loginform #password_protected_pass {
  display: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 48px;
  color: #fff200;
  letter-spacing: 2px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .home .modal-dialog #login #loginform #password_protected_pass,
  .login .modal-dialog #login #loginform #password_protected_pass {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .home .modal-dialog #login #loginform #password_protected_pass,
  .login .modal-dialog #login #loginform #password_protected_pass {
    font-size: 37px;
  }
}
.home .modal-dialog #login_error,
.login .modal-dialog #login_error {
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;
  border-left: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #fff200;
  color: #fff200;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.category-header .container {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #0b0b0b;
}
.attachment .entry-content .container .row img {
  width: 100%;
  height: auto;
}
.clearfix,
.dl-horizontal dd,
.container,
.container-fluid,
.row,
.modal-footer {
  clear: left;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hidden-tablet {
    display: none !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .hidden-tablet {
    display: none !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .hidden-tablet {
    display: none !important;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .hidden-mobile {
    display: none !important;
  }
}
@media only screen and (min-device-width: 540px) and (max-device-width: 960px) {
  .hidden-mobile {
    display: none !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .hidden-mobile {
    display: none !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hidden-mobile {
    display: none !important;
  }
}
